<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dal.Properties.Settings.VnsErp2025FinalConnectionString"
            connectionString="Data Source=192.168.1.199;Initial Catalog=VnsErp2025Final;Persist Security Info=True;User ID=sa;Password=VNS@#2023;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="VnsErp2025ConnectionString" connectionString="Data Source=192.168.1.199;Initial Catalog=VnsErp2025Final;Persist Security Info=True;User ID=sa;Password=VNS@#2023;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Dal.Properties.Settings.VnsErp2025FinalConnectionString1"
            connectionString="Data Source=115.75.187.3,3306;Initial Catalog=VnsErp2025Final;Persist Security Info=True;User ID=vns;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Dal.Properties.Settings.VnsErp2025FinalConnectionString2"
            connectionString="Data Source=115.75.187.3,3306;Initial Catalog=VnsErp2025Final;Persist Security Info=True;User ID=vns;Password=VNS@#2025;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Dal.Properties.Settings.VnsErp2025FinalConnectionString3"
            connectionString="Data Source=115.75.187.3,3306;Initial Catalog=VnsErp2025Final;Persist Security Info=True;User ID=vns;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Dal.Properties.Settings.VnsErp2025FinalConnectionString4"
            connectionString="Data Source=115.75.187.3,3306;Initial Catalog=VnsErp2025Final;Persist Security Info=True;User ID=vns;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Dal.Properties.Settings.VnsErp2025FinalConnectionString5"
            connectionString="Data Source=115.75.187.3,3306;Initial Catalog=VnsErp2025Final;Persist Security Info=True;User ID=vns;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Dal.Properties.Settings.VnsErp2025FinalConnectionString6"
            connectionString="Data Source=115.75.187.3,3306;Initial Catalog=VnsErp2025Final;Persist Security Info=True;User ID=vns;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Dal.Properties.Settings.VnsErp2025FinalConnectionString7"
            connectionString="Data Source=115.75.187.3,3306;Initial Catalog=VnsErp2025Final;Persist Security Info=True;User ID=vns;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Dal.Properties.Settings.VnsErp2025FinalConnectionString8"
            connectionString="Data Source=115.75.187.3,3306;Initial Catalog=VnsErp2025Final;Persist Security Info=True;User ID=vns;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Dal.Properties.Settings.VnsErp2025FinalConnectionString9"
            connectionString="Data Source=115.75.187.3,3306;Initial Catalog=VnsErp2025Final;Persist Security Info=True;User ID=vns;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Dal.Properties.Settings.VnsErp2025FinalConnectionString10"
            connectionString="Data Source=115.75.187.3,3306;Initial Catalog=VnsErp2025Final;Persist Security Info=True;User ID=vns;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Dal.Properties.Settings.VnsErp2025FinalConnectionString11"
            connectionString="Data Source=115.75.187.3,3306;Initial Catalog=VnsErp2025Final;Persist Security Info=True;User ID=vns;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <!-- Database Configuration -->
        <add key="Database.CommandTimeout" value="30" />
        <add key="Database.ConnectionTimeout" value="15" />
        <add key="Database.EnableRetryOnFailure" value="true" />
        <add key="Database.MaxRetryCount" value="3" />
        <add key="Database.RetryDelayMs" value="1000" />
        <add key="Database.EnableDetailedErrors" value="false" />
        <add key="Database.EnableSensitiveDataLogging" value="false" />
        <add key="Database.EnablePerformanceMonitoring" value="true" />
        <add key="Database.PerformanceThresholdMs" value="1000" />
    </appSettings>
</configuration>